.container {
    padding: 16px 16px 1px 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.containerNoSubCard {
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.header {
    margin-bottom: 16px;
}

.progress {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #8C959D;
}

.arrow {
    padding: 0;
    border: 0;
    background-color: transparent;
    color: #8C959D;
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

.description {
    margin-bottom: 32px;
}   

