*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eef4fa;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #596269;
}

h1, h2, h3 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 600;
}

h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

.main {
  padding: 50px 0;
}

.left-panel {
  flex: 0 0 80%;
}

.right-panel {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .left-panel,
  .right-panel {
    flex: 0 0 100%;
  }
}
